body {
  background-color: lightslategray;
}

.container {
  margin: 2rem 4rem;
}


.flashcard-options {
  margin-top: 5rem;
}

.flashcard-option {
  margin-top: .25rem;
  color: #555555;
  font-size: 1rem;
}
