body {
  background-color: lightslategray;
}

.card {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  /* An element with position: relative; is positioned relative to its normal position. */
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  height: 350px;
  width: 350px;
  margin: 15px;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0));
  transform-style: preserve-3d;
  transition: 500ms;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  top: -3px;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .card-front,
.card .card-back {
  /* positioned relative to the nearest positioned ancestor  */
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card-front {
  left: 0;
}

.card .card-back {
  transform: rotateY(180deg);
}

.flashcard-options {
  margin-top: 5rem;
}

.flashcard-option {
  margin-top: .25rem;
  color: #555555;
  font-size: 1rem;
}
